h1{
    color: orange;
    background-color: yellow;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border: 1px solid black;
    border-width: thin;
}

h2{
    color: green;
    margin: 5px 5px 5px 5px;
    background-color: yellow;
    border: 1px dashed black;
    border-width: medium;
}

#korma-heading
{
    color: blue;
    background-color: yellow;
    border: 1px dotted black;
    border-width: thick;
}

p{
    background-color: yellow;
    border: 1px double black;
    border-width: thick;
    ;
}

img{
    background-color: yellow;
    border: 10px double black;
    border-width: thick;
    ;
}